-# FIXME Mover a acciones globales y dejar sólo el checkbox
- if can? :update, perfil.object
  .btn-group.btn-group-sm
    = link_to edit_perfil_path(perfil), title: t('editar') do
      %span.fa.fa-edit.fa-fw
    - if can? :delete, perfil.object
      &nbsp;
      = link_to perfil, title: t('eliminar'), data: { confirm: t(:confirmar) }, method: :delete do
        %span.fa.fa-trash.fa-fw
